@import "./style/navbar.css";
@import "./style/index.css";

body {
    background-image: url("../assets/images/gradient-background.jpg");
    background-size: cover;
}

#mainContent {
    color: white;
    margin-top: 300px;
    text-align: center;
}

